<head>
  <!-- Meta Information -->
  <title>BucketListing - Home Page</title>

  <!-- External CSS Placeholder-->
  <!-- <link rel="stylesheet" href="the h ref" type="text/css"> -->

  <!-- App CSS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/index.css" type="text/css" />

  <!-- External JS -->
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- For Mobile Sizing-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <%- include('partials/_header') %>
    <main class="first-main">
        <article id="specific-todo" class="mars">
          <%if (user_id && todo_id) {%>
            <header>
            <h2 id="<%=todo.category%>">
              <a href="/todos/categories/all">
                <%= todo.category.toUpperCase() %>
              </a>
            </h2>
            <h3 class="specifi-todo-name">
              <%= todo.name %>
            </h3>
            <%}%>
          </header>
        <!--  Add details later for different categories  -->
        <%if (todo.note) {%>
          <label class="the-note" for="note">Note:</label>
          <p>
            <%= todo.note %>
          </p>
          <%}%>
        <%if (todo.deadline) {%>
        <label for="note">Deadline:</label>
        <p>
          <%= todo.deadline %>
        </p>
        <%}%>
        <%if (todo.date_added) {%>
        <div class="created-on">
          <label for="note">Created on: <%= todo.date_added.toDateString()%></label>
        </div>
        <%}%>
      <%if (todo.date_completed) {%>
        <label for="note">Completed On:</label>
        <p>
          <%= todo.date_completed.toDateString() %>
        </p>
        <%}%>
          <!-- show note -->
          <!-- Add the deadline-->

            <form id="category-change" data-to-id="<%=todo_id%>">
              <label for="category">Change Category:</label>
              <select name="category" id="category">
                <option > --- </option>
                <option value="1">Misc</option>
                <option value="2">Eat</option>
                <option value="3">Read</option>
                <option value="4">Watch</option>
                <option value="5">Buy</option>
              </select>
              <br><br>
              <input id="<%=todo.category%>" class="send-btn" type="submit" value="Change Category">
            </form>
            <%if (!todo.date_completed) {%>
                <form action="/todos/<%=todo_id%>/complete" method="POST">
                  <button id="<%=todo.category%>" class="send-btn" type="submit">Complete!</button>
                </form>
              <%}%>
            <form action="/todos/<%=todo_id%>/delete" method="POST">
              <button id="<%=todo.category%>" class="send-btn" type="submit">Delete</button>
            </form>

      </article>
    </main>
</body>

</html>
